h1, p {
  color: var(--body-background-color);
}



.transaction-container {
  font-size: 1.25rem;
  padding: 1rem;
  background: white;
}

.donation-thank-you {
  border: 15px solid #b1ecff;
  padding: 0;
  margin-top: 4rem;
  max-width: 65rem;
  margin: auto;
  margin-top: 4rem;
  background: #d1f1ff;
  border-radius: 3px;
}

.donation-thank-you h1, .donation-thank-you p,
#paymentStatus span, .donation-thank-you strong {
  text-align: center;
  color: #212529; /* avoid theme color as the background is always very light */
}
