<style>
    .donation-container {
        padding: 2rem;
        border: 4px solid var(--body-background-color);
        margin: 3rem 0;
        background: var(--body-background-inverse-color);
        

    }
    .donation-container p, .donation-container li, h3 {
        color: var(--body-background-color);
    }


    .donation-container input[type="number"],

    .donation-container select {
        padding: 1rem;
        border: none;
        font-size: 1rem;
        border-radius: 3px;
        color: var(--body-background-color);
    }

    .donation-container input[type="submit"] {
        margin-top: 2rem;
    }

    .donation-container input[type="number"] {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        background: #00000042;
        padding-left: 3rem;
    }

    .currency-symbol {
        font-size: 2.3rem;
        position: absolute;
        top: 0.75rem;
        left: 2rem;
        color: var(--body-background-color);
    }

    .payment-logos-area {
        background: white; /* various logos look good on white */
        display: inline-block;
        padding: 1rem;
        border-radius: 3px;
    }

    .accepted-payments img {
        height: 35px;
    }

    .donation-content {
        flex-direction: column;
        display: flex;
    }

</style>


<form class="row" action="php/mollie-one-time-donation.php" method="post">
    <input type="hidden" name="lang" value="{{ $.Site.Language.Lang }}">

    <span class="col-md-6 donation-container donation-content">
        <h3 style="margin-top: 0">{{ i18n "monthly-donations" }}</h3>

        <p>{{ i18n "monthly-donations-description" }}</p>

        <ul>
            <li>{{ i18n "monthly-donations-benefit-1" }}</li>
            <li>{{ i18n "monthly-donations-benefit-2" }}</li>
            <li>{{ i18n "monthly-donations-benefit-3" }}</li>
        </ul>

        <span class="flex-spacer"></span>

        <a href="https://fund.krita.org" target="_blank" class="primary-button"> {{ i18n "visit-development-fund" }}</a>
    </span>

    <span class="col-md-6 donation-container donation-content">
        <h3 style="margin-top: 0">{{ i18n "one-time-donation" }}</h3>

        <p>{{ i18n "one-time-description" }}</p>
       
        <div style="margin-bottom: 2rem; position: relative">
            <span class="currency-symbol" >&euro;</span>
            <input class="donation_amount" type="number" value="10" min="1" name="donation_amount" />
        </div>

    
        <div class="accepted-payments">
            <p style="margin-bottom: 0; padding-bottom: 0">{{ i18n "accepted-payment-methods" }}</p><br/>

            <span class="payment-logos-area">
                <img src="images/one-time-donations/credit-cards.png" />
                <img src="images/one-time-donations/paypal.png" />
                <img src="images/one-time-donations/eps.png" />
                <img src="images/one-time-donations/banconctact.png" />
                <img src="images/one-time-donations/iDEAL.png" />
                <img src="images/one-time-donations/sofort.png" />
            </span>
        </div>
    
        <input type="submit" value="Donate" name="submit" class="primary-button" />
    </span>


</form>

